on:
  push:
    branches-ignore:
      - "ga-ignore-*"
  pull_request:
    branches-ignore:
      - "ga-ignore-*"

env:
  MIRROR_URL: "git@github.com:Chi-Iroh/Chocolatine-Mirror.git"
  EXECUTABLES: "a.out"

jobs:
  check_coding_style:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/epitech/coding-style-checker:latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - run: |
          rm -f coding-style-reports.log
          check.sh $(pwd) $(pwd)
          cat coding-style-reports.log
      - run: |
          IFS=
          while IFS= read -r line; do
            error="$(echo $line | cut -d ' ' -f 2)"
            file="$(echo $line | cut -d ' ' -f 1)"
            severity="$(echo $error | cut -d ':' -f 1)"
            code="$(echo $error | cut -d ':' -f 2)"
            line="$(echo $file | cut -d ':' -f 2)"
            filename="$(echo $file | cut -d ':' -f 1)"
            echo "::error file=$filename,line=$line,title=$severity coding style error: $filename::$code"
          done < coding-style-reports.log
          if [[ "$(du -b coding-style-reports.log | cut -d ' ' -f 1)" != "0" ]]; then
            echo ::exit::failure
          fi
      
  check_program_compilation:
    runs-on: ubuntu-latest
    needs: check_coding_style
    container:
      image: ghcr.io/epitech/coding-style-checker:latest
    steps:
      - uses: actions/checkout@v3
        with:
            fetch-depth: 0
      - run: make
      - run: |
          make clean
          for exe in ${{ env.EXECUTABLES }}; do
            if [[ ! -f "$exe" || ! -x "$exe" ]]; then
              echo ::exit::failure
            fi
  
  run_tests:
    runs-on: ubuntu-latest
    needs: check_program_compilation
    timeout-minutes: 2
    container:
      image: ghcr.io/epitech/coding-style-checker:latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - run: make run_tests
      
  push_to_mirror:
    runs-on: ubuntu-latest
    needs: run_tests
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: pixta-dev/repository-mirroring-action@v1
        with:
          target_repo_url:
            ${{ env.MIRROR_URL }}
          ssh_private_key:
            ${{ secrets.GIT_SSH_PRIVATE_KEY }}
