on:
  push:
    branches-ignore:
      - "ga-ignore-*"
  pull_request:
    branches-ignore:
      - "ga-ignore-*"

env:
  MIRROR_URL: "git@github.com:Chi-Iroh/Chocolatine-Mirror.git"
  EXECUTABLES: "a.out"

jobs:
  check_coding_style:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/epitech/coding-style-checker:latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - run: |
          check.sh $(pwd) $(pwd)
          cat coding-style-reports.log
      - run: |
          for line in $(cat coding-style-reports.log); do
            err=`awk '{print $2}'`
            file=`awk '{print $1}'`
            echo $err
            echo $file
            echo "-------------"
          done
          if [[ "$(cut $(du -b coding_style_reports.log) -d ' ' -f 1)" != "0" ]]; then
            ::exit::failure
          fi
      
  check_program_compilation:
    runs-on: ubuntu-latest
    needs: check_coding_style
    container:
      image: ghcr.io/epitech/coding-style-checker:latest
    steps:
      - uses: actions/checkout@v3
        with:
            fetch-depth: 0
      - run: make
      - run: |
          make clean
          for exe in ${{ env.EXECUTABLES }}; do
            if [[ ! -f "$exe" || ! -x "$exe" ]]; then
              ::exit::failure
            fi
  
  run_tests:
    runs-on: ubuntu-latest
    needs: check_program_compilation
    timeout-minutes: 2
    container:
      image: ghcr.io/epitech/coding-style-checker:latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - run: make run_tests
      
  push_to_mirror:
    runs-on: ubuntu-latest
    needs: run_tests
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: pixta-dev/repository-mirroring-action@v1
        with:
          target_repo_url:
            ${{ env.MIRROR_URL }}
          ssh_private_key:
            ${{ secrets.GIT_SSH_PRIVATE_KEY }}
